# Порт, на котором будет работать сервер
PORT=3001

# Данные для отправки почты через Gmail
# Важно: для использования Gmail может потребоваться создать "пароль приложения"
# https://support.google.com/accounts/answer/185833
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
